*{
    background-color: rgb(95, 93, 93);
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.section{
    height: 90vh;
    text-align: center;
}

/* Erika Start */
.fudge-brownie{
    background-color: #e9c7b3;
}
.fudge-brownie-pic{
    background-color: #e9c7b3;
    margin-left: 10vw;
    transform: scale(0.4);
    opacity: 1;
    transition: margin-left 2s;
}

.pic-slide{
    transform: scale(1);
    margin-left: 40vw;
}

/* Erika Slut */



/* Ellinor Start */
.cookie-dough{

}

/* Ellinor Slut */



/* Shirley Start */
.minter-wonderland{
    
}

/* Shirley Slut */

