*{

}

.title{
    text-align: center;
    font-size: 400%;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.section{
    height: 90vh;
    text-align: center;
    padding: 10px;
}

/* Erika Start */
.fudge-brownie{

}

/* Erika Slut */



/* Ellinor Start */
.cookie-dough{
    background-color: rgba(189, 184, 164, 0.74);
}

/* Ellinor Slut */



/* Shirley Start */
.minter-wonderland{
    
}

/* Shirley Slut */

